from pydantic import BaseModel, ConfigDict
from uuid import UUID
{%- if 'datetime' in extra_imports %}
from datetime import datetime
{%- endif %}
{%- if 'date' in extra_imports %}
from datetime import date
{%- endif %}
{%- if 'Decimal' in extra_imports %}
from decimal import Decimal
{%- endif %}
{%- if has_optional or 'update' in use_cases %}
from typing import Optional
{%- endif %}
{%- if enums %}
from ..domain.enums import {{ enums | map(attribute='name') | join(', ') }}
{%- endif %}
{% if value_objects %}

{%- for vo in value_objects %}
class {{ vo.name }}DTO(BaseModel):
    model_config = ConfigDict(from_attributes=True)

{%- for f in vo.required_fields %}
    {{ f.name }}: {{ f.python_type }}
{%- endfor %}
{%- for f in vo.optional_fields %}
    {{ f.name }}: {{ f.python_type }} = {{ f.default_repr }}
{%- endfor %}

{% endfor %}
{%- endif %}

class {{ domain_name|capitalize }}Create(BaseModel):
{%- for f in required_fields if not f.auto_now %}
    {{ f.name }}: {{ f.python_type | replace_vo_dto }}
{%- endfor %}
{%- for f in optional_fields if not f.auto_now %}
    {{ f.name }}: {{ f.python_type | replace_vo_dto }} = {{ f.default_repr }}
{%- endfor %}

{%- if 'update' in use_cases %}


class {{ domain_name|capitalize }}Update(BaseModel):
{%- for f in fields if not f.auto_now %}
{%- if f.nullable %}
    {{ f.name }}: {{ f.python_type | replace_vo_dto }} = {{ f.default_repr }}
{%- else %}
    {{ f.name }}: Optional[{{ f.python_type | replace_vo_dto }}] = None
{%- endif %}
{%- endfor %}
{%- endif %}


class {{ domain_name|capitalize }}Response(BaseModel):
    model_config = ConfigDict(from_attributes=True)

    id: UUID
{%- for f in fields %}
    {{ f.name }}: {{ f.python_type | replace_vo_dto }}
{%- endfor %}
