from sqlalchemy.ext.asyncio import AsyncSession

from .repository import Sqlalchemy{{ domain_name|capitalize }}Repository


class {{ domain_name|capitalize }}UnitOfWork:
    def __init__(self, session: AsyncSession) -> None:
        self._session = session

    async def __aenter__(self) -> "{{ domain_name|capitalize }}UnitOfWork":
        self.{{ domain_name }}s = Sqlalchemy{{ domain_name|capitalize }}Repository(self._session)
        return self

    async def __aexit__(self, exc_type, exc_val, exc_tb) -> None:
        if exc_type is not None:
            await self.rollback()

    async def commit(self) -> None:
        await self._session.commit()

    async def rollback(self) -> None:
        await self._session.rollback()
